@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

.alert-banner {
    background-color: rgb(183, 47, 47);
    padding: 10px;
    /* Increase padding for better visibility on small screens */
}

.alert-banner p {
    color: lightgray;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    /* Remove default margin to ensure better spacing */
}

/* Media Query for Small Screens */
@media only screen and (max-width: 600px) {
    .alert-banner {
        padding: 15px;
        /* Adjust padding for smaller screens */
    }

    .alert-banner p {
        font-size: 14px;
        /* Adjust font size for better readability on small screens */
    }
}