body {
    padding: 0;
    margin: 0;
}

.logo {
    width: 15%;
    float: right;
}

._Navbar p {
    display: inline;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 26px;
    margin: 3px;
}

._Navbar {
    background-color: rgb(37, 37, 163);
    padding: 10px;
}

._Navbar ul {
    display: block;
    /* Center the navigation items on small screens */
}

._Navbar ul li {
    display: block;
    /* Display list items as block on small screens */
    margin: 5px;
    display: inline;
}

._Navbar ul li a {
    /* Display links as block on small screens */
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;
}

._Navbar ul li a:hover {
    color: lightgray;
}

._Container {
    background-image: url("../img/main_logo.png");
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 170px;
    /* Adjust padding for smaller screens */
    /* background-color: darkgray; */
}

.inner {
    padding: 1px;
    background-color: rgb(37, 37, 163);
}

.footerModule {
    padding: 25px;
    background-color: #2c3e50;
}

.footerModule p {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    color: lightgray;
}

.display_options {
    padding: 125px;
    /* Adjust padding for smaller screens */
    text-align: center;
    background-color: #343e47;
}

.display_options p {
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    color: white;
}

.btn {
    padding: 15px;
    text-decoration: none;
    background-color: rgb(37, 37, 163);
    font-family: sans-serif;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

.btn:hover {
    background-color: rgb(56, 56, 146);
}

/* Media Query for Small Screens */
@media only screen and (max-width: 600px) {
    ._Navbar ul {
        text-align: left;
        /* Align navigation items to the left on small screens */
    }

    ._Navbar ul li {
        display: inline;
        margin: 5px;
    }

    ._Navbar ul li a {
        display: inline;
    }

    ._Container {
        padding: 20px;
    }

    .display_options {
        padding: 20px;
    }
}