body {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 600px;
    /* Adjust the max-width to your preference */
    margin: auto;
    padding: 10px;
}

#map {
    width: 100%;
    height: 100%;
    position: absolute;
}

.sidenav {
    width: 100%;
    /* Adjust the width to take full width on small screens */
    max-width: 225px;
    /* Set a maximum width for the sidebar */
    position: fixed;
    z-index: 2;
    left: 20px;
    bottom: 30px;
    background: rgb(66, 64, 64);
    overflow-x: hidden;
    padding: 10px 0;
    border-radius: 5px;
}

.sidenav p {
    color: white;
    font-family: sans-serif;
    font-size: 23px;
    text-align: center;
    text-decoration: underline;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    display: block;
}

.sidenav a:hover {
    color: #656a6e;
}

/* Media Query for Small Screens */
@media only screen and (max-width: 600px) {
    .sidenav {
        width: 100%;
        /* Take full width on small screens */
        max-width: none;
        /* Remove the maximum width on small screens */
        left: 0;
    }
}