body {
    padding: 0;
    margin: 0;
}

._Navbar p {
    display: inline;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 26px;
    margin: 3px;
}

._Navbar {
    background-color: rgb(37, 37, 163);
    padding: 25px;
}

._Navbar ul {
    display: block;
}

._Navbar ul li {
    display: inline;
    margin: 5px;
}

._Navbar ul li a {
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    /* font-weight: bold; */
}

._Navbar a:hover {
    color: lightslategray;
}

._Container {
    background-image: url("../img/main_logo.png");
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 175px;
}

.inner {
    padding: 1px;
    background-color: rgb(37, 37, 163);
}

.footerModule {
    padding: 25px;
    background-color: #2c3e50;
}

.footerModule p {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    color: lightgray;
}

.display_options {
    padding: 125px;
    text-align: center;
}

.display_options p {
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
}

.btn {
    padding: 10px;
    text-decoration: none;
    background-color: rgb(37, 37, 163);
    font-family: sans-serif;
    color: white;
    border-radius: 5px;
}

.btn:hover {
    background-color: rgb(56, 56, 146);
}

.container {
    padding: 100px;
    width: 600px;
    margin: auto;
    background-color: cornflowerblue;
    border-radius: 15px;
}

.text {
    color: black;
    font-family: sans-serif;
    font-size: 26px;
    text-align: center;
}

.btn {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    background-color: whitesmoke;
    padding: 6px;
    border-radius: 5px;
}

.btn:hover {
    background-color: lightgray;
}