/* Scroll Themes */

/* width */
::-webkit-scrollbar {
    width: 15px;
    background-color: rgba(83, 91, 103, 0.726);
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(139, 139, 139);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
}