body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.splash-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 200px;
    height: auto;
    border-radius: 15px;
    padding: 15px;
}

/* Media Query for Small Screens */
@media only screen and (max-width: 600px) {
    .logo img {
        width: 150px;
        /* Adjust the width for smaller screens */
        padding: 10px;
        /* Adjust padding for smaller screens */
    }
}